*{
    margin: 0;
    padding: 0;
}
.header .header-top{
    display: flex;
    justify-content: flex-end;
    padding-right: 12%;
    padding: 5%;
}
.header .header-top a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 20px;
}
.header .title{
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 15%;
}
.header .title nav{
    font-size: 44px;    
    font-weight: 600;
}
.header .title span{
    font-weight: 300;
}
.header .title button{
    border: none;
    background-color: tomato;
    color: white;
    width: 208px;
    height: 47px;
    margin-top: 10%;
}
.main-body{
    width: 100%;
    background-color: #EDF7FA;
    margin-top: 9%;
}
.main-body .main-top{
    display: grid;
    width: 80%;
    margin-left: 10%;
    height: 350px;
    align-items: center;
}
.main-body .main-top .title-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-body .main-top .title-top h5{
    font-size: 22px;
    font-weight: 400;
}
.main-body .main-top .title-top a{
    text-decoration: none;
    color: #00A8CC;
}
.main-body .main-top .card-group{
    display:grid;
    flex-direction: column;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
}
.main-body .main-top .card-group .card-body{
    background-color: rgb(255, 255, 255);
    height: 200px;
}
.main-body .main-top .card-group .card-body .card-title{
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 38px;
}
.main-body .main-top .card-group .card-body .card-time{
    font-size: 18px;
    line-height: 26px;
    font-weight: 400px;
    font-family: Verdana, Tahoma, sans-serif;
}
.main-body .main-top .card-group .card-body .card-text{
    font-family: Verdana, Tahoma, sans-serif;
    line-height: 25px;
    font-weight: 400;
}
.main-footer{
    width: 80%;
    margin-left: 10%;
}
.main-footer .title-footer{
    margin-top: 12px;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 22px;
}
.main-footer .card{
    display: flex;
    gap: 20px;
    margin-top: 12px;
}
.main-footer .card .card-body .card-title{
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: 700;
    font-size: 30px;
}
.main-footer .card .card-body .card-text small{
    background-color: #142850;
    border-radius: 20px;
    color: white;
    padding: 3px;
}
.main-footer .card .card-body .card-text {
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 16px;
    display: flex;
    gap: 10px;
    padding: 12px;
}
hr{
    padding-top: 12px;
    border: none;
    border-top: 1px solid;
}
.end{
    display: flex;
    align-self: center;
    justify-content: center;
    padding-top: 5%;
    margin-right: 2%;
}
.end img{
    padding-left: 32px;
}
span{
    display: flex;
    justify-content: center;
    padding-top: 20px
}